<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
        <link rel="stylesheet" href="/styles/editSong.css">
</head>

<body>
    <%- include('../layout/header') %>
        <main>
            <form action="/updateSong/<%=song.id%>?_method=PUT" method="POST">
                <ul>
                    <li>
                        <input type="hidden" name="id" value="<%=song.id%>">
                        <input type="hidden" name="songName" value="<%= song.title_short %>">
                        <input type="hidden" name="artistImg" value="<%=song.artist_picture %>">
                        <input type="hidden" name="audio" value="<%=song.previewAudio %>">
                        <div class="container">
                            <label class="potato" for="lyrics">Edit song lyrics</label>
                            <textarea type="text" name="lyrics" id="lyrics" placeholder=" <%=song.lyrics%>"></textarea><br>

                            <label for="comment">Comment:</label>
                            <input type="text" name="comment" id="comment" placeholder="Edit your comment here!"><br>
                            <button type="submit">Submit</button>
                        </div>


                    </li>
                </ul>
            </form>
        </main>
</body>

</html>